spring:
  application:
    name: FoodFlow
  
  datasource:
    url: jdbc:postgresql://localhost:5433/foodflow_db
    username: foodflow_user
    password: foodflow_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled: false
